rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /VotingEvent/{document=**} {
      allow get, list: if true;
    }
    match /UserData/{userData} {
      allow read: if true;
      allow create, write: if request.auth != null;
    }
  }
}
