// app global css in Sass form
.max-w
  &-screen-xs
    max-width: $breakpoint-xs
  &-screen-sm
    max-width: $breakpoint-sm
  &-screen-md
    max-width: $breakpoint-md
  &-screen-lg
    max-width: $breakpoint-lg

.h
  &-min
    height: min-content

.col-grow
  &-0
    flex-grow: 0

.col-shrink
  &-0
    flex-shrink: 0
